@model IEnumerable<Forest.Data.Music_Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>

    
    @*Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            @Html.ActionLink(item.Genre, "GetMusicRecordings",
                            new { genre = item.GenreId })
        </td>
        <td>
            @Html.ActionLink("Edit", "GetMusicRecordings", new { genre = item.GenreId , Controller = "Music"})
            @Html.ActionLink("Details", "GetMusicRecording", new { id=item.GenreId, Controller = "Music" })
            @Html.ActionLink("Delete", "DeleteMusicRecording", new { id=item.GenreId, Controller= "MusicAdmin" })
            @Html.ActionLink("Add Music", "AddMusicRecording", new { genre = item.GenreId, Controller = "MusicAdmin" })
        </td>
    </tr>
}


 
</table>
